/* Highlight untuk blok subtitle yang sedang diputar */
.subtitle-line {
  transition: all 0.1s ease; /* Transisi halus agar tidak kaku */
}

.subtitle-line.active-line {
  background-color: rgba(108, 92, 231, 0.1); /* Background biru transparan */
  border: 2px solid #6C5CE7;                /* Border biru hijau */
  box-shadow: 0 0 8px rgba(108, 92, 231, 0.5); /* Shadow lembut */
}

.floating-video-header {
  background: rgba(255, 255, 255, 0.1);
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

video::cue {
  white-space: pre-wrap; /* Mempertahankan spasi/enter namun tetap melakukan wrap */
  word-wrap: break-word; /* Memaksa kata yang terlalu panjang untuk dipotong ke bawah */
  word-break: break-word;
  background-color: rgba(0, 0, 0, 0.7); /* Opsional: Membuat background lebih mudah dibaca */
  text-align: center;
}